# Many to Many Relationships in SQL

Previously, we have seen one to many relationship.
<img src ="c.png">
Now, we will implement many to many relationship database.
<img src ="d.png">

We will start with a fresh database.

In [1]:
%load_ext sql

In [2]:
import sqlalchemy
sqlalchemy.create_engine('sqlite:///courses.db')

Engine(sqlite:///courses.db)

In [3]:
%sql sqlite:///courses.db

In [ ]:
%%sql
CREATE TABLE "User" (
	"id"	INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
	"name"	TEXT,
	"email"	TEXT
);

In [ ]:
%%sql
CREATE TABLE "Course" (
	"id"	INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
	"text"	TEXT
);

In [ ]:
%%sql
CREATE TABLE "Member" (
	"user_id"	INTEGER,
	"course_id"	INTEGER,
	"role"	INTEGER,
	PRIMARY KEY("user_id","course_id")
);

Inserting data into the database.

In [ ]:
%%sql
INSERT into User(name,email) VALUES ('Jane','jane@uvic.ca');
INSERT into User(name,email) VALUES ('Manke','manke@uvic.ca');
INSERT into User(name,email) VALUES ('Ryan','ryan@uvic.ca')

In [4]:
%%sql
SELECT * From User

 * sqlite:///courses.db
Done.

[(1, 'Jane', 'jane@uvic.ca'),
 (2, 'Manke', 'manke@uvic.ca'),
 (3, 'Ryan', 'ryan@uvic.ca')]

In [5]:
%%sql
INSERT INTO Course(text) VALUES ('Scientific_Computing');
INSERT into Course(text) VALUES ('Advanced_PDE');
INSERT into Course(text) VALUES ('Numerical_Finance')

 * sqlite:///courses.db
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [6]:
%%sql
SELECT * From Course

 * sqlite:///courses.db
Done.

[(1, 'Scientific_Computing'), (2, 'Advanced_PDE'), (3, 'Numerical_Finance')]

In [7]:
%%sql
INSERT INTO Member(user_id, course_id,role) VALUES (1,1,1);
INSERT INTO Member(user_id, course_id,role) VALUES (2,1,0);
INSERT INTO Member(user_id, course_id,role) VALUES (3,1,0);

INSERT INTO Member(user_id, course_id,role) VALUES (1,2,0);
INSERT INTO Member(user_id, course_id,role) VALUES (2,2,1);

INSERT INTO Member(user_id, course_id,role) VALUES (2,3,1);
INSERT INTO Member(user_id, course_id,role) VALUES (3,3,0)

 * sqlite:///courses.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [8]:
%%sql
SELECT * From Member

 * sqlite:///courses.db
Done.

[(1, 1, 1), (2, 1, 0), (3, 1, 0), (1, 2, 0), (2, 2, 1), (2, 3, 1), (3, 3, 0)]

Now using the previous three tables, we make a new one using "JOIN". Our aim is toget the name, role and title of the course.

In [9]:
%%sql
SELECT User.name,Member.role,Course.text
From User JOIN Member JOIN Course
ON Member.user_id = User.id AND Member.course_id = Course.id
ORDER BY Course.text, Member.role DESC, User.name

 * sqlite:///courses.db
Done.

[('Manke', 1, 'Advanced_PDE'),
 ('Jane', 0, 'Advanced_PDE'),
 ('Manke', 1, 'Numerical_Finance'),
 ('Ryan', 0, 'Numerical_Finance'),
 ('Jane', 1, 'Scientific_Computing'),
 ('Manke', 0, 'Scientific_Computing'),
 ('Ryan', 0, 'Scientific_Computing')]

Here, "DESC" stands for descending (course first and role).

Lets implement in python now. But first, we take a look at the subset of the dataset, we will be working on, which is an array of array.
<code>
  [
    "Charley",
    "si110",
    1
  ],
  [
    "Mea",
    "si110",
    0
  ],
  [
    "Hattie",
    "si110",
    0
  ]  
</code>

In [15]:
import json
import sqlite3

conn = sqlite3.connect('rosterdb.sqlite')
cur = conn.cursor()

# Do some setup
cur.executescript('''
DROP TABLE IF EXISTS User;
DROP TABLE IF EXISTS Member;
DROP TABLE IF EXISTS Course;

CREATE TABLE User (
    id     INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    name   TEXT UNIQUE
);

CREATE TABLE Course (
    id     INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    text  TEXT UNIQUE
);

CREATE TABLE Member (
    user_id     INTEGER,
    course_id   INTEGER,
    role        INTEGER,
    PRIMARY KEY (user_id, course_id)
)
''')

fname = input('Enter file name: ')
if len(fname) < 1:
    fname = 'roster_data_sample.json'

# [
#   [ "Charley", "si110", 1 ],
#   [ "Mea", "si110", 0 ],

str_data = open(fname).read()
json_data = json.loads(str_data)

for entry in json_data:

    name = entry[0];
    text = entry[1];

    print((name, text))

    cur.execute('''INSERT OR IGNORE INTO User (name)
        VALUES ( ? )''', ( name, ) )
    cur.execute('SELECT id FROM User WHERE name = ? ', (name, ))
    user_id = cur.fetchone()[0]

    cur.execute('''INSERT OR IGNORE INTO Course (text)
        VALUES ( ? )''', ( text, ) )
    cur.execute('SELECT id FROM Course WHERE text = ? ', (text, ))
    course_id = cur.fetchone()[0]

    cur.execute('''INSERT OR REPLACE INTO Member
        (user_id, course_id) VALUES ( ?, ? )''',
        ( user_id, course_id ) )

    conn.commit()

Enter file name: roster_data_sample.json
('Charley', 'si110')
('Mea', 'si110')
('Hattie', 'si110')
('Lyena', 'si110')
('Keziah', 'si110')
('Ellyce', 'si110')
('Thalia', 'si110')
('Meabh', 'si110')
('Aria', 'si110')
('Reena', 'si110')
('Ioannis', 'si110')
('Reily', 'si110')
('Sidharth', 'si110')
('Keiara', 'si110')
('Yann', 'si110')
('Marykate', 'si110')
('Dylan', 'si110')
('Kiran', 'si110')
('Faizaan', 'si110')
('Aneshia', 'si110')
('Kamron', 'si110')
('Allen', 'si110')
('Marshall', 'si110')
('Rosa', 'si106')
('Nora', 'si106')
('Mairin', 'si106')
('Zendel', 'si106')
('Honie', 'si106')
('Betsy', 'si106')
('Davie', 'si106')
('Larissa', 'si106')
('Shaurya', 'si106')
('Shania', 'si106')
('Sorcha', 'si106')
('Jeanna', 'si106')
('Temba', 'si106')
('Buse', 'si106')
('Mohammed', 'si106')
('Kayah', 'si106')
('Kareena', 'si106')
('Dineo', 'si106')
('Philippa', 'si106')
('Lia', 'si206')
('Sharlyn', 'si206')
('Linton', 'si206')
('Temilade', 'si206')
('Areez', 'si206')
('MacCartney', 'si206')
('Abubakar', 'si206')
('Derryn', 'si206')
('Elan', 'si206')
('Vikki', 'si206')
('Anisa', 'si206')
('Klevis', 'si206')
('Tait', 'si206')
('Rhea', 'si206')
('Pearsen', 'si206')
('Willow', 'si206')
('Skye', 'si206')
('Caralee', 'si206')
('Charlee', 'si206')
('Karyn', 'si206')
('Elana', 'si206')
('Maggie', 'si206')
('Eryk', 'si206')
('Zulaikha', 'si301')
('Elshan', 'si301')
('Anastasia', 'si301')
('Connar', 'si301')
('Anay', 'si301')
('Jayla', 'si301')
('Cai', 'si301')
('Zijie', 'si301')
('Riana', 'si301')
('Codie', 'si301')
('Colette', 'si301')
('Lucee', 'si301')
('Tatiana', 'si301')
('Zhong', 'si301')
('Lowri', 'si301')
('Maggy', 'si301')
('Basher', 'si301')
('Tanika', 'si301')
('Aria', 'si301')
('Belle', 'si301')
('Laranya', 'si301')
('Dayna', 'si301')
('Elleanne', 'si301')
('Maanav', 'si310')
('Tamta', 'si310')
('Frazer', 'si310')
('Sacha', 'si310')
('Aidan', 'si310')
('Abel', 'si310')
('Ahtasham', 'si310')
('Avinash', 'si310')
('Colette', 'si310')
('Cohen', 'si310')
('Rori', 'si310')
('Youer', 'si310')
('Jamey', 'si310')
('Makenzie', 'si310')
('Ida', 'si310')
('Alexzander', 'si310')
('Kavita', 'si310')
('Talia', 'si310')
('Anthony', 'si310')
('Elona', 'si334')
('Inan', 'si334')
('Caoilainn', 'si334')
('Ainsley', 'si334')
('Franciszek', 'si334')
('Corrie', 'si334')
('Nolan', 'si334')
('Makala', 'si334')
('Obieluem', 'si334')
('Camryn', 'si334')
('Honie', 'si334')
('Ole', 'si334')
('Raine', 'si334')
('Tyllor', 'si334')
('Diane', 'si334')
('Cullen', 'si334')
('Taylor', 'si334')
('Schekina', 'si334')
('Kensey', 'si334')
('Zhi', 'si334')
('Kiran', 'si334')
('Tymoteusz', 'si334')
('Windsor', 'si363')
('Kashish', 'si363')
('Diarmid', 'si363')
('Laura', 'si363')
('Jaskaran', 'si363')
('Presley', 'si363')
('Brooklynn', 'si363')
('Heddle', 'si363')
('Travis', 'si363')
('Alx', 'si363')
('Airen', 'si363')
('Erika', 'si363')
('Mackie', 'si363')
('Wen', 'si363')
('Seaan', 'si363')
('Meghan', 'si363')
('Ryaan', 'si363')
('Imogem', 'si364')
('Harlie', 'si364')
('Ronnie', 'si364')
('Lucca', 'si364')
('Shanelle', 'si364')
('Ieuan', 'si364')
('Anneliese', 'si364')
('Simon', 'si364')
('Sorche', 'si364')
('Nawal', 'si364')
('Adelaide', 'si364')
('Rhia', 'si364')
('Katarzyna', 'si364')
('LLeyton', 'si364')
('Enzo', 'si364')
('Declan', 'si364')
('Emelie', 'si364')
('Baillie', 'si364')
('Shola', 'si364')
('Jenna', 'si422')
('Miles', 'si422')
('Sakina', 'si422')
('Melanie', 'si422')
('Bailie', 'si422')
('Cassy', 'si422')
('Nikash', 'si422')
('Hebe', 'si422')
('Sia', 'si422')
('Skyla', 'si422')
('Jamaal', 'si422')
('Keanna', 'si422')
('Vanya', 'si422')
('Temperance', 'si422')
('Hafiza', 'si422')
('Alx', 'si422')
('Brigitte', 'si422')
('Eliana', 'si422')
('Kayden', 'si422')
('Man', 'si422')
('Jaydyn', 'si422')
('Soukina', 'si430')
('Stephenjunior', 'si430')
('Buddy', 'si430')
('Holly', 'si430')
('Kamilia', 'si430')
('Cassie', 'si430')
('Kris', 'si430')
('Maia', 'si430')
('Abel', 'si430')
('Tamika', 'si430')
('Deano', 'si430')
('Rosa', 'si430')
('Georgia', 'si430')
('Louie', 'si430')
('Kassie', 'si430')
('Mutinta', 'si430')
('Manwen', 'si430')

This application will read roster data in JSON format, parse the file, and then produce an SQLite database that contains a User, Course, and Member table and populate the tables from the data file.

In [19]:
import json
import sqlite3

conn = sqlite3.connect('rosterdb1.sqlite')
cur = conn.cursor()

# Do some setup
cur.executescript('''
DROP TABLE IF EXISTS User;
DROP TABLE IF EXISTS Member;
DROP TABLE IF EXISTS Course;

CREATE TABLE User (
    id     INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    name   TEXT UNIQUE
);

CREATE TABLE Course (
    id     INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    title  TEXT UNIQUE
);

CREATE TABLE Member (
    user_id     INTEGER,
    course_id   INTEGER,
    role        INTEGER,
    PRIMARY KEY (user_id, course_id)
)
''')

fname = input('Enter file name: ')
if ( len(fname) < 1 ) : fname = 'roster_data.json'

# [
#   [ "Charley", "si110", 1 ],
#   [ "Mea", "si110", 0 ],

str_data = open(fname).read()
json_data = json.loads(str_data)

for entry in json_data:

    name = entry[0];
    title = entry[1];
    role = entry[2];
    print (name, title, role)

    cur.execute('''INSERT OR IGNORE INTO User (name) 
        VALUES ( ? )''', ( name, ) )
    cur.execute('SELECT id FROM User WHERE name = ? ', (name, ))
    user_id = cur.fetchone()[0]

    cur.execute('''INSERT OR IGNORE INTO Course (title) 
        VALUES ( ? )''', ( title, ) )
    cur.execute('SELECT id FROM Course WHERE title = ? ', (title, ))
    course_id = cur.fetchone()[0]

    
    
    cur.execute('''INSERT OR REPLACE INTO Member
        (user_id, course_id, role) VALUES ( ?, ?, ? )''', 
        ( user_id, course_id, role ) )

    conn.commit()

Enter file name: roster_data.json
Thomson si110 1
Dharam si110 0
Aslam si110 0
Melville si110 0
Makenzie si110 0
Johanna si110 0
Nickson si110 0
Bentley si110 0
Freia si110 0
Johnjay si110 0
Brody si110 0
Aaryan si110 0
Caitlynn si110 0
Malia si110 0
Prince si110 0
Zendel si110 0
Nicki si110 0
Lily si106 1
Fauzaan si106 0
Mohamad si106 0
Ekhlass si106 0
Priscillia si106 0
Madeline si106 0
Reo si106 0
Tabbitha si106 0
Alekzander si106 0
Indiana si106 0
Coben si106 0
Lilliarna si106 0
Morgan si106 0
Nidba si106 0
Harlie si106 0
Ariah si106 0
Dallace si106 0
Safi si106 0
Cesar si106 0
Berlin si106 0
Lorenz si106 0
Jillian si106 0
Nola si106 0
Sung si106 0
Linton si106 0
Sameera si106 0
Kaylyn si106 0
Codie si106 0
Craig si106 0
Julietta si106 0
Ayrton si106 0
Aleena si106 0
Joojo si106 0
Moosa si106 0
Kadin si106 0
Miya si106 0
Rylan si106 0
Kornelija si106 0
Eagann si106 0
Brendyn si106 0
Leona si206 1
Diarmuid si206 0
Koden si206 0
Nana si206 0
Keir si206 0
Rubhan si206 0
Deano si206 0
Celia si206 0
Adnan si206 0
Digby si206 0
Chrystal si206 0
Caoilainn si206 0
Pasquale si206 0
Mhairade si206 0
Kaeden si206 0
Kiran si206 0
Brad si206 0
Zuzia si206 0
Taylor si206 0
Gracealexandra si206 0
Shahd si206 0
Abrare si206 0
Milli si206 0
Taira si206 0
Peiyan si206 0
Kate si206 0
Alum si206 0
Emelia si206 0
Zachariya si206 0
Chu si206 0
Beau si206 0
Dominic si206 0
Kenzy si206 0
Raonaid si206 0
Olaf si206 0
Karly si206 0
Kainin si206 0
Tyree si206 0
Abbegail si206 0
Habeeb si206 0
Eirinn si206 0
Gordon si206 0
Jebadiah si206 0
Hamna si206 0
Kahlen si206 0
Lacci si206 0
Anastasia si206 0
Milandra si206 0
Aizah si206 0
Sung si206 0
Niro si206 0
Juwairiyah si206 0
Kathrina si206 0
Vinnie si301 1
Nihal si301 0
Janey si301 0
Rhoda si301 0
Arron si301 0
Presley si301 0
Kayam si301 0
Donnie si301 0
Aili si301 0
David si301 0
Naideen si301 0
Amberlouise si301 0
Janae si301 0
Wardah si301 0
Kaiwen si301 0
Celik si301 0
Grayson si301 0
Kailin si301 0
Kenzeigh si301 0
Marie si301 0
Ceol si301 0
Lincon si301 0
Judah si301 0
Marcie si301 0
Elgin si301 0
Melville si301 0
Nikoleta si301 0
Malika si301 0
Jorgie si301 0
Annoushka si301 0
Fox si301 0
Layla si301 0
Faryn si301 0
Cormak si301 0
Jadon si301 0
Keiron si301 0
Sarabeth si301 0
Ellice si301 0
Ferre si301 0
Avani si301 0
Ijay si301 0
Anaya si301 0
Wyatt si301 0
Lillie si301 0
Marc si301 0
Martyna si301 0
Zain si310 1
Karis si310 0
Maaz si310 0
Aun si310 0
Courtney si310 0
Kairn si310 0
Ioannis si310 0
Fatama si310 0
Huda si310 0
Fabian si310 0
Remonae si310 0
Stevie si310 0
Maren si310 0
Emily si310 0
Meabh si310 0
Karlie si310 0
Safa si310 0
Haillie si310 0
Alivia si310 0
Suzy si310 0
Kainui si310 0
Aled si310 0
Kelam si310 0
Padraig si310 0
Kaydin si310 0
Skie si310 0
Shakira si310 0
Hannah si310 0
Damon si310 0
Keren si310 0
Chelsea si310 0
Jillian si310 0
Imogen si310 0
Ailidh si310 0
Carley si310 0
Cale si310 0
Rholmark si310 0
Rocco si310 0
Lyndsay si310 0
Benedict si310 0
Jedd si310 0
Niall si310 0
Taylor si310 0
Maria si310 0
Akira si310 0
Rebekha si310 0
Kyler si310 0
Antony si310 0
Darah si310 0
Maili si334 1
Emme si334 0
Louie si334 0
Kristina si334 0
Innes si334 0
Temba si334 0
Rajveer si334 0
Khayla si334 0
Matteo si334 0
Kaydane si334 0
Cadance si334 0
Richie si334 0
Maria si334 0
Duriel si334 0
Umaya si334 0
Jema si334 0
Exodi si334 0
Farhan si334 0
Marshall si334 0
Roman si334 0
Aqsa si334 0
Harlee si334 0
Saffi si334 0
Nawal si334 0
Mohammad si334 0
Susanne si363 1
Nazia si363 0
Ayeesha si363 0
Jesse si363 0
Rosalin si363 0
Solomon si363 0
Robbie si363 0
Haiden si363 0
Kristin si363 0
Aadam si363 0
Argyle si363 0
Morgan si363 0
Cailin si363 0
Blake si363 0
Ole si363 0
Arella si363 0
Teresa si363 0
Ken si363 0
Nikoleta si363 0
Shani si363 0
Han si363 0
Ambreen si363 0
Derron si363 0
Poppy si363 0
Dimitri si363 0
Justin si363 0
Berlin si363 0
Dion si363 0
Eaden si363 0
Benji si363 0
Naila si364 1
Seamus si364 0
Weronika si364 0
Alice si364 0
Zhi si364 0
Abbigale si364 0
Jaime si364 0
Tracey si364 0
Leonardas si364 0
Florin si364 0
Balqees si364 0
Martina si364 0
Maisey si364 0
Amy si364 0
Kieara si364 0
Kyalah si364 0
Kizhi si364 0
Manas si364 0
Madelyn si364 0
Coupar si364 0
Nora si364 0
Adelaide si364 0
Tyrnan si364 0
Tyane si364 0
Darrell si364 0
Abhy si364 0
Alliah si364 0
Brea si364 0
Richey si364 0
Cynthia si364 0
Dawid si364 0
Vincent si364 0
Grayson si364 0
Rhy si364 0
Lilyana si364 0
Cloe si364 0
Caelainn si364 0
Surien si364 0
Kadin si364 0
Jenah si364 0
Maison si364 0
Nivedita si364 0
Jody si364 0
Kasim si364 0
Ceridwen si364 0
Kevan si364 0
Sharland si364 0
Kyhran si364 0
Milena si364 0
Daigan si364 0
Ifrah si422 1
Luisa si422 0
Ahdia si422 0
Kieryn si422 0
Elona si422 0
Cully si422 0
Kevan si422 0
Arsalan si422 0
Shaun si422 0
Nicola si422 0
Kaia si422 0
Orlaigh si422 0
Siddhant si422 0
Samara si422 0
Conli si422 0
Emi si422 0
Madisson si422 0
Surya si422 0
Jayda si422 0
Corrie si422 0
Ateeq si422 0
Meah si422 0
Caelainn si422 0
Damla si422 0
Eng si422 0
Abbigail si422 0
Austin si422 0
Caralee si422 0
Rodrigo si422 0
Narvic si430 1
Donna si430 0
Romy si430 0
Austen si430 0
Lilli si430 0
Eilidh si430 0
Raithin si430 0
Lennan si430 0
Bryony si430 0
Silvana si430 0
Promise si430 0
Hamani si430 0
Kayliegh si430 0
Naima si430 0
Loche si430 0
Aurea si430 0
Kenzie si430 0
Kamil si430 0
Kile si430 0
Hind si430 0
Nikita si430 0
Aeva si430 0
Linzi si430 0
Gigha si430 0
Wayde si430 0
Jesse si430 0
Niamh si430 0
Neve si430 0
Mariella si430 0
Shakira si430 0
Cale si430 0
Harris si430 0
Makin si430 0
Arissa si430 0
Patrikas si430 0
Kyron si430 0
Kerr si430 0
Josh si430 0
Monika si430 0
Amro si430 0
Daymian si430 0
Corinne si430 0
Rylie si430 0