# Using Databases with Python

First we need to create a database using SQLite Browser.
To create table CREATE TABLE <table name>
    
CREATE TABLE Users(<br>
	name VARCHAR(50),<br>
	email VARCHAR(50)<br>
);<br>
    
To insert values,<br>
    
INSERT INTO Users(name,email) VALUES ('Arman','Arman@ubc.ca')<br>

Current Table values are :
    
abir	abir@gmail.com <br>
shazia	shazia@yahoo.com<br>
mahi	mahi@ubc.ca<br>
afra	afra@uvic.ca<br>
Arman	Arman@ubc.ca<br>
Alam Baby <br>

To delete a user without email, we do the following,
    
DELETE FROM Users  WHERE (email = ' ')
    
To Retrieve records from a group of records, We can do the following
 1) To get all the records-     SELECT * FROM Users <br>
 2) To get a subset of the record-       SELECT * FROM Users WHERE email = 'shazia@yahoo.com' <br>
 3) To get reselt ascending or descending order-   SELECT * FROM Users ORDER BY email <br>

In [52]:
import sqlite3

conn = sqlite3.connect('emaildb.sqlite') # creates emaildb 
cur = conn.cursor()

cur.execute('DROP TABLE IF EXISTS Counts') 

cur.execute('''
CREATE TABLE Counts (email TEXT, count INTEGER)''') 

fname = input('Enter file name: ')
if (len(fname) < 1): fname = 'mbox-short.txt'
fh = open(fname)
for line in fh:
    if not line.startswith('From: '): continue
    pieces = line.split()
    email = pieces[1]
    cur.execute('SELECT count FROM Counts WHERE email = ? ', (email,))
    row = cur.fetchone()
    if row is None:
        cur.execute('''INSERT INTO Counts (email, count)
                VALUES (?, 1)''', (email,))
    else:
        cur.execute('UPDATE Counts SET count = count + 1 WHERE email = ?',
                    (email,))
    conn.commit() # forces everything to write on disk

sqlstr = 'SELECT email, count FROM Counts ORDER BY count DESC LIMIT 10' #Descendent

for row in cur.execute(sqlstr):
    print(str(row[0]), row[1])

cur.close()

Enter file name: mbox.txt
cwen@iupui.edu 153
zqian@umich.edu 141
chmaurer@iupui.edu 104
jimeng@umich.edu 90
mmmay@indiana.edu 75
ian@caret.cam.ac.uk 75
rjlowe@iupui.edu 67
aaronz@vt.edu 64
david.horwitz@uct.ac.za 58
dlhaines@umich.edu 50

# Counting Email in a Database

In [58]:
import sqlite3

conn = sqlite3.connect('emaildb.sqlite')
cur = conn.cursor()

cur.execute('DROP TABLE IF EXISTS Counts')

cur.execute('''
CREATE TABLE Counts (org TEXT, count INTEGER)''')

fname = input('Enter file name: ')
if (len(fname) < 1): fname = 'mbox.txt'

fh = open(fname)
for line in fh:
    if not line.startswith('From: '): continue
    
    pieces = line.split('@') # this is what you want
    org = pieces[1]
    cur.execute('SELECT count FROM Counts WHERE org = ? ', (org,))
    row = cur.fetchone()
    if row is None:
       cur.execute('''INSERT INTO Counts (org, count)
              VALUES (?, 1)''', (org,))
    else:
       cur.execute('UPDATE Counts SET count = count + 1 WHERE org = ?',
                    (org,))
conn.commit()

# https://www.sqlite.org/lang_select.html
sqlstr = 'SELECT org, count FROM Counts ORDER BY count DESC LIMIT 10'

for row in cur.execute(sqlstr):
    print(str(row[0]), row[1])

cur.close()

Enter file name: mbox-1.txt
iupui.edu
 536
umich.edu
 491
indiana.edu
 178
caret.cam.ac.uk
 157
vt.edu
 110
uct.ac.za
 96
media.berkeley.edu
 56
ufp.pt
 28
gmail.com
 25
et.gatech.edu
 17